* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Body */
body {
    background-color: silver;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
/*Header and Footer */

header {
    top: 0;
    width: 100%;
    background-color: #3f3f3f;
    text-align: center;
}

footer {
position: absolute;
bottom: 0px;
width: 100%;
box-sizing: border-box;
text-align: center;
min-height: 100px;
background-color: #3f3f3f;
}

/* Buttons */
.btn-rock {
    font-size: 5.5rem;
    min-width: 30px;
    margin: 10px;
    background-color: lightblue;
}
.btn-paper {
    font-size: 5.5rem;
    min-width: 30px;
    margin: 10px;
    background-color: lightcoral;
}
.btn-scissors {
    font-size: 5.5rem;
    min-width: 30px;
    margin: 20px;
    background-color: lightpink;
}